a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    display: block;
    padding: 5px;
}
li {
    background-color: black;
    border: 1px solid black;
    width: 194px;
    margin: 2px;
}
a:hover {
    color: black;
}
li:hover {
    background-color: white;
}
ul {
    list-style-type: none;
    width: 200px;
    padding: 0;
}
.menu {
    width: 200px;
}