* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.orange-container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.orange {
    width: 100%;
    height: 48%;
    background-color: orange;
}
.yellow-container {
    width: 100%;
    height: 20%;
    margin: 15px 0;
}
.yellow {
    width: 100%;
    height: 100%;
    background-color: yellow;
}
.blue-container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blue {
    width: 100%;
    height: 32%;
    background-color: blue;
}
.gray-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    margin: 5px 0 0 0;
}
.gray {
    width: 100%;
    height: 23%;
    background-color: gray;
}
.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {
    .gray-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .gray {
        width: 49.7%;
        height: 50%;
        margin-bottom: 4px;
    }
    .hidden {
        display: block;
    }
    .yellow-container {
        height: 25%;
    }
    .yellow {
        height: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    .orange-container {
        flex-direction: row;
        height: 15%;
        justify-content: space-between;
    }
    .orange {
        width: 49%;
        height: 100%;
    }
    .yellow-container {
        margin: 20px 0;
    }
    .yellow {
        height: 100%;
    }
    .blue-container {
        margin: 0 0 20px 0;
        flex-direction: row;
        height: 20%;
        justify-content: space-between;
    }
    .blue {
        width: 32%;
        height: 100%;
    }
    .gray-container {
        height: 30%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .gray {
        margin: 0;
        width: 24%;
    }
    .hidden {
        display: block;
    }
}