.main-block {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.one {
    height: 300px;
    width: 300px;
    padding: 30px;
    border: 4px solid yellow;
    background-color: darkred;
}
.two{
    height: 300px;
    width: 300px;
    padding: 50px;
    border: 4px solid pink;
    background-color: darkgreen;
}
.three {
    height: 100px;
    width: 45%;
    background-color: darkblue;
}
.four {
    height: 250px;
    width: 200px;
    border: 5px solid yellow;
    background-color: aquamarine;
}
.four>img {
    height: 250px;
    width: 200px;
}
.five>button {
    width: 100px;
    padding: 20px;
    margin: 20px;
    border: 4px solid azure;
}