a {
    text-decoration: none;
    color: blue;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
li {
    width: 190px;
    border: 2px solid blue;
    margin: 2px;
    padding: 5px;
}
a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
}